# Java
*.class
*.jar
*.war
*.ear
target/
*.iml

# Spring Boot
*.log
*.pid
*.tmp

# Maven
/target
.mvn/timing.properties
**/target/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Node
node_modules/
dist/

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log
